.channel-page-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    height: 100vh;
}

.msg-box-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightblue;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.channel-headerbox {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    cursor: pointer;
    user-select: none;
    border: 2px solid darkgrey;
    border-radius: 1rem;
    padding: .25rem;
}

.channel-headerbox .material-symbols-outlined {
    margin-right: 5px;
    font-size: 2rem;
    border-right: 1px solid black;
    padding: .12rem;
}

.msg-box-nav h1 {
    margin-left: 5px;
}

.channel-channellist {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1.5%;
    top: 30%;
    text-align: left;
}

.channel-channellist span {
    user-select: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.channel-channellist span:hover {
    color: lightgreen;
}

.channel-channellist span:active {
    transform: scale(0.9);
}

.selected {
    color: lightblue;
    pointer-events: none;
    cursor: auto;
    border: 2px solid black;
    padding: 0.25rem;
}

.channel-add-form {
    width: min-content;
}

.msg-box {
    border: 2px solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 615px;
    width: 615px;
    overflow-y: hidden;
    transition: overflow-y 0.3s ease-in-out;
    padding: 0.5rem;
    padding-bottom: 1rem;
    position: relative;
    top: 15%;

}

.msg-box:hover {
    overflow-y: auto;
}

.send-button {
    position: absolute;
    right: 1.5%;
    top: 40%;
    padding: 1rem;
}

.create-channel {
    margin-bottom: 1rem;
    cursor: pointer;
    text-decoration: double underline;
}

.create-channel:hover {
    color: lightgreen;
}

.create-channel-box {
    position: absolute;
    top: 30%;
    width: 20%;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.channel-field {
    padding: .5rem;
}

.channel-field input {
    padding: .15rem;
    border: none;
    border-bottom: 2px solid black;
}

.channel-field input:focus {
    outline: none;
}

.users-to-add li {
    display: flex;
    justify-content: space-between;
}

.channel-box-back-button {
    justify-content: flex-start;
    width: min-content;
    margin: .25rem;
}

.user, .other {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: fit-content;
    border-radius: 1rem;
    margin: .25rem;
}

.user span, .other span{
    font-size: .75rem;
    color: black;
    opacity: .5;
    text-align: right;
}

.user {
    align-self: flex-end;
    background-color: rgb(148, 226, 148);
    border-bottom-right-radius: 0;
}

.other {
    text-align: left;
    background-color: lightblue;
    border-bottom-left-radius: 0;
}

.system-msg {
    background-color: none;
    color: lightslategray;
    font-style: italic;
}

.channel-member-list {
    position: fixed;
    right: 33%;
    top: 33%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    align-items: center;
    padding: 0.75rem;
    margin: 0.25rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    z-index: 5;
    visibility: hidden;
    transform: visibility 0.3s;
}

.channel-member-list span {
    align-self: flex-start;
}

.channel-add-btn {
    font-size: 0.75rem;
    margin-top: 1rem;
    margin-bottom: .75rem;
    width: max-content;
}

.new-channel-member-box {
    position: relative;
}

.new-channel-member-box span{
    position: absolute;
    right: 0;
    cursor: pointer;
    user-select: none;
}

.new-channel-member-box span:hover {
    color: lightgreen;
}

.new-channel-member-box input {
    max-width: 100px;
    padding: .125rem;
    text-align: center;
}