.channel-page-container {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 7.5% auto;
    align-items: baseline;
    position: relative;
    height: inherit;
}

.channelpage-one {
    grid-column: 1 / 3;
}

.channel-chatbox {
    grid-column: 2;
    position: relative;
    display: grid;
    height: calc(100vh - 7.5vh);
    /* grid-template-rows: 54% auto; */
}

.msg-box-nav {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    background-color: lightblue;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.channel-headerbox {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    cursor: pointer;
    user-select: none;
    border: 2px solid darkgrey;
    border-radius: 1rem;
    padding: .25rem;
}

.channel-headerbox .material-symbols-outlined {
    margin-right: 5px;
    font-size: 2rem;
    border-right: 1px solid black;
    padding: .12rem;
}

.msg-box-nav h1 {
    margin-left: 5px;
}

.channel-channellist {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1.5%;
    top: 30%;
    text-align: left;
}

.ch-list {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-left: 2.5px;
    padding: 2.5px;
    transition: background-color 0.3s, font-weight 0.2s, color 0.1s
}

.ch-list .material-symbols-outlined {
    visibility: hidden;
}

.material-symbols-outlined.show {
    visibility: visible;
}

.ch-list:hover {
    color: white;
    font-weight: bold;
    background-color: lightblue;
}

.ch-list:active {
    transform: scale(0.9);
}

.selected {
    color: white;
    font-weight: bold;
    background-color: rgb(125, 173, 189);
    pointer-events: none;
    cursor: auto;
}

.channel-add-form {
    width: min-content;
}

.msg-box {
    /* border: 2px solid black; */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    transition: overflow-y 0.3s ease-in-out;
    padding: 0.5rem;
    padding-bottom: 1rem;
    font-size: .8rem;
    /* max-height: 100vh; */
}

.msg-box::-webkit-scrollbar {
    width: .5rem;
}

.msg-box::-webkit-scrollbar-thumb {
    border-radius:0.5rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.msg-box:hover {
    overflow-y: auto;
}

.send-button {
    position: absolute;
    right: 1.5%;
    top: 40%;
    padding: 1rem;
}

.create-channel {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
    padding: 5px;
    user-select: none;
    transition: background-color 0.3s, font-weight 0.2s, color 0.1s
}

.create-channel:hover {
    color: white;
    font-weight: bold;
    background-color: lightblue;
}

.channel-channellist .material-symbols-outlined {
    font-size: 1.25rem;
}

.user, .other {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: fit-content;
    border-radius: 1rem;
    margin: .25rem;
}

.user span, .other span{
    font-size: .75rem;
    color: black;
    opacity: .5;
    text-align: right;
}

.user {
    align-self: flex-end;
    background-color: rgb(148, 226, 148);
    border-bottom-right-radius: 0;
}

.other {
    text-align: left;
    background-color: lightblue;
    border-bottom-left-radius: 0;
}

.other span {
    text-align: left;
}

.user span {
    text-align: right;
}

.system-msg {
    background-color: none;
    color: lightslategray;
    font-style: italic;
    padding: 0.25rem;
}

.channel-member-list {
    position: fixed;
    right: 33%;
    top: 33%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    align-items: center;
    padding: 0.75rem;
    margin: 0.25rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    z-index: 5;
    visibility: hidden;
    transform: visibility 0.3s;
}

.channel-member-list span {
    align-self: flex-start;
}

.channel-add-btn {
    font-size: 0.75rem;
    margin-top: 1rem;
    margin-bottom: .75rem;
    width: max-content;
}

.new-channel-member-box {
    position: relative;
}

.new-channel-member-box span{
    position: absolute;
    right: 0;
    cursor: pointer;
    user-select: none;
}

.new-channel-member-box span:hover {
    color: lightgreen;
}

.new-channel-member-box input {
    max-width: 100px;
    padding: .125rem;
    text-align: center;
}

.chatbox-fieldset {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.date {
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;
}

.today {
    font-weight: bold;
}