.user-legend, .pass-legend {
    text-align: start;
}

.login-form fieldset {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.login-form input {
    border: none;
    padding: 5px;
}

.pw-field {
    position: relative;
}

.pw-field .material-symbols-outlined {
    position: absolute;
    right: 7.5%;
    cursor: pointer;
}

.login-form p {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 0.75rem;
}

.login-form p u {
    text-decoration: double underline;
    cursor: pointer;
    user-select: none;
    transition: text-decoration 0.3s, color 0.2s;
}

.login-form p u:hover {
    color: lightgreen;
    text-decoration: none;
    font-weight: bolder;
}

.login-button {
    font-family: 'Montserrat';
    user-select: none;
    background-color: transparent;
    outline: 1px solid black;
    transition: background-color 0.3s, font-weight 0.2s, color 0.1s;
}

.login-button:hover {
    background-color: lightblue;
    color: white;
    font-weight: bold;
}

.login-button:active {
    transform: scale(0.90);
}