.Dms-CONTAINER {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    height: 100vh;
}

.dms-navbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
}

.dms-navbox h1 {
    margin-left: 5px;
}

.dm-msgbox {
    width: 615px;
    height: 615px;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0.5rem;
    padding-bottom: 1rem;
    border: 2px solid black;
    border-radius: 1rem;
    overflow-y: hidden;
    transition: overflow-y 0.3s ease-in-out;
    top: 15%;
}

.dm-msgbox:hover {
    overflow-y: auto;
}

.dm-user, .dm-other {
    width: max-content;
    padding: .75rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.dm-user span, .dm-other span {
    font-style: italic;
    opacity: .75;
}

.dm-user p, .dm-other p {
    margin-bottom: .25rem;
    margin: .25rem;
}

.dm-user {
    text-align: right;
    align-self: flex-end;
    background-color: lightgreen;
    border-bottom-right-radius: 0;
}

.dm-other{
    text-align: left;
    background-color: lightblue;
    border-bottom-left-radius: 0;
}

.dm-searchuser {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    top: 30%;
    position: relative;
}

.dm-searchuser input {
    text-align: center;
}

.dms-renderlist {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    left: 1.5%;
    top: 30%;
}

.dms-renderlist .msg-list {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.msg-list p {
    margin-right: 1rem;
    cursor: pointer;
    user-select: none;
    transition: transform 0.3s ease-in-out;
    font-size: .75rem;
}

.msg-list p:hover {
    color: lightcoral;
}

.msg-list p:active {
    transform: scale(0.75);
}

.msg-list .selected {
    color: green;
    border: 2px solid black;
    padding: 0.5rem;
}

.buttons {
    display: flex;
    flex-direction: column;
}