#main-navbar {
    background-color: lightblue;
    max-width: 4rem;
}

.item {
    margin-bottom: 5rem;
    text-decoration: none;
    width: 100%;
}

.item:link, .item:visited {
    text-decoration: none;
    color: black;
}

.item:hover {
    background-color: rgb(150, 200, 210);
}

.nav-selected {
    background-color: rgb(150, 200, 210);
    pointer-events: none;
}

.nav-selected .nav-iconbox {
    color: whitesmoke;
}

.nav-iconbox {
    display: flex;
    flex-direction: column;
    font-size: .75rem;
    margin-bottom: 1.5rem;
}

.nav-iconbox .material-symbols-outlined {
    font-size: 2.25rem;
}

.user-box .material-symbols-outlined {
    font-size: 3.5rem;
    color: black;
    cursor: pointer;
    user-select: none;
}

.user-box button {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s ease-in-out, opacity 0.3s;
}

.user-box:hover button {
    visibility: visible;
    opacity: 1;
}

.user-box:hover span {
    background-color: rgb(150, 200, 210);
}