.navigation {
    display: grid;
    grid-template-areas: "navbar outlet";
    grid-template-columns: 5% 90%;
    justify-content: space-between;
    height: 100vh;
}

.navbar-header {
    grid-area: navbar;
    background-color: lightblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: first baseline;
    color: whitesmoke;
    padding: 10px;
    padding-right: 40px;
}

.navbar-header nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}

.item {
    margin-inline: 10px;
    margin-bottom: 20px;
    text-decoration: none;
}

.item:hover {
    background-color: lightgray;
}

.outlet {
    grid-area: outlet;
}