#Home-navbar {
    background-color: lightblue;
    position: relative;
    max-height: 3.5rem;
}

.border.rounded-pill {
    background-color: rgb(125, 173, 189);
    color: white;
}

.go-to-channel-btn {
    cursor: pointer;
    user-select: none;
    padding: 5px;
    width: inherit;
    display: block;
    transition: background-color 0.3s, font-weight 0.2s, color 0.1s;
}

.go-to-channel-btn:hover {
    background-color: lightblue;
    color: white;
    font-weight: bold;
}

.home-recentmsg-box {
    text-align: left;
    min-height: 10rem;
    max-height: 25rem;
    overflow-y: auto;
}

.home-recentmsg-box::-webkit-scrollbar {
    width: .5rem;
}

.home-recentmsg-box::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: rgba(0,0,0,0.3);
}

.loading-box-position {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-recentmsg-box p {
    margin-bottom: 0;
    margin-top: .25rem;
}

.home-rmMsgBox {
    width: 90%;
    padding: 1rem;
    padding-top: .5rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    min-height: 9rem;
}

.home-rmMsgBox .rmMsgBox-legend {
    color: rgb(125, 173, 189);
    font-weight: 100;
    font-size: .8rem;
    text-align: left;
    border-bottom: .1rem dotted lightslategray;
}

.home-rmMsgBox:hover {
    background-color: whitesmoke;
}

.home-rmMsgBox span{
    font-size: .70rem;
    opacity: 0.5;
}

.go-to-convo-btn {
    cursor: pointer;
    user-select: none;
    padding: 5px;
    width: inherit;
    display: block;
    font-family: 'Montserrat';
    border: none;
    margin-top: 1rem;
    align-self: center;
    transition: background-color 0.3s, font-weight 0.2s, color 0.1s;
}

.go-to-convo-btn:hover {
    background-color: lightblue;
    color: white;
    font-weight: bold;
}