.rotate {
    animation: spin 2s linear infinite;
    font-size: 2rem;
    user-select: none;
    position: absolute;
    left: 47.5%;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}