.Typebox-CONTAINER {
    position: relative;
    /* bottom: 0; */
    /* left: 17%; */
}

.Typebox-CONTAINER textarea {
    padding: 1rem;
    resize: none;
}

.Typebox-sendBtn {
    position: absolute;
    right: 1.5%;
    top: 5%;
    padding: 1rem;
}