.Typebox-CONTAINER {
    position: fixed;
    bottom: 5%;
    left: 25%;
}

.Typebox-CONTAINER textarea {
    padding: 1rem;
    resize: none;
}

.Typebox-sendBtn {
    position: absolute;
    right: 1.5%;
    top: 25%;
    padding: 1rem;
}